body {
    padding: 0;
    margin: 0;
}

html,
body,
#map {
    height: 100%;
    width: 100vw;
}

.map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}


/* Default icon URLs */

.leaflet-default-icon-path {
    background-image: url("/assets/marker-icon.png");
}

.leaflet-default-shadow-path {
    background-image: url("/assets/marker-shadow.png");
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}